{% extends "base.html" %}

{% block title %}Registrar nuevo recinto{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Editar Recinto Aduanero</h1>
        <form method="post" id="contact-form">
            {% for field in editar_recinto_form %}
                <div class="input-container">
                    {{ field }}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% if field.errors %}
                        <ul class="errorList">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
            {% csrf_token %}
            <div class="button-container">
                <button type="submit">Editar Recinto</button>
            </div>
        </form>
    </div>
{% endblock %}
