{% extends "base.html" %}

{% block title %}Recinto Aduanero{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Recintos Aduaneros</h1>
        <div class="table-container">
            <table class="table table-hover table-rwd">
                <thead class="table-dark "> 
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Recinto</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody class="table-striped">
                    {% for recinto in aduana_despacho %}
                        <tr>
                            <td scope="row">{{ recinto.id }}</td>
                            <td>{{ recinto.aduana_despacho }}</td>
                            <td>
                                <a href="{% url 'editar_recinto' recinto.id %}"
                                class="btn btn-primary btn-sm">
                                    Editar
                                </a>
                                <a href="{% url 'eliminar_recinto' recinto.id %}"
                                class="btn btn-danger btn-sm" onclick="return confirm(
                                    '¿Estas seguro de eliminar este recinto?'
                                );">
                                    Eliminar
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <form method="post" id="contact-form">
            <div class="row d-flex align-items-center">
                <div class="col-lg-8">
                    {% for field in aduana_despacho_form %}
                        <div class="input-container">
                            {{ field }}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% if field.errors %}
                                <ul class="errorList">
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="col-lg-4">
                    {% csrf_token %}
                    <div class="button-container">
                        <button type="submit">Registrar Recinto</button>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
{% endblock %}
