{% extends "base.html" %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Restablecer Contraseña</h1>
        {% if validlink %}
            <p  class="text-center">Ingresa tu contraseña nueva.</p>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                    <form action="" method="post" id="contact-form">
                        {% for field in form %}
                            <div class="input-container">
                                {{ field }}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {% if field.errors %}
                                    <ul class="errorList">
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        {% endfor %}
                        {% csrf_token %}
                        <div class="button-container">
                            <button type="submit">Cambiar contraseña</button>
                        </div>
                    </form>
                </div>
            </div>
        {% else %}
            <p class="text-center">
                El link para restablecer la contraseña es invalido, posiblemente porque ya fue usado.
                Pide un nuevo link para restablecer tu contraseña.
            </p>
        {% endif %}
    </div>
{% endblock %}