{% extends "base.html" %}

{% block title %}Mercaderia{% endblock %}

{% block content %}
    <div class="container-fluid mt-4">
        <h1>Mercaderia</h1>
        <div class="form-container">
            <h2>Registrar Mercaderia</h2>
            <form method="post" id="contact-form">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-8">
                        {% for field in mercaderia_form %}
                            <div class="input-container">
                                {{ field }}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {% if field.errors %}
                                    <ul class="errorList">
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-lg-4">
                        {% csrf_token %}
                        <div class="button-container">
                            <button type="submit">Registrar Mercaderia</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-container">
            <table class="table table-hover table-rwd">
                <thead class="table-dark "> 
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Mercaderia</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody class="table-striped">
                    {% for mercaderia in mercaderias %}
                        <tr>
                            <td scope="row">{{ mercaderia.id }}</td>
                            <td>{{ mercaderia.nombre_mercaderia }}</td>
                            <td>
                                <a href="{% url 'editar_mercaderia' mercaderia.id %}"
                                class="btn btn-primary btn-sm">
                                    Editar
                                </a>
                                <a href="{% url 'eliminar_mercaderia' mercaderia.id %}"
                                class="btn btn-danger btn-sm" onclick="return confirm(
                                    '¿Estas seguro de eliminar esta mercaderia?'
                                );">
                                    Eliminar
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "pagination.html" with page=mercaderias %}
        </div>
    </div>
{% endblock %}
